.root {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Golos Text', 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smooting: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
