.footer__text {
  margin: 60px 0 0;
  padding: 40px 72px 72px;
  color: #313131;
  opacity: 0.6;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: #E9DED4;
}

@media screen and (max-width: 700px) {
  .footer__text {
    padding: 40px 20px 60px;
    margin: 0;
  }
}
