.stages__card-description {
  margin: 0;
  color: #313131;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 700px) {
  .stages__card-description {
    font-size: 18px;
    line-height: 120%;
  }
}
