.content__image {
  max-width: 100%;
  position: absolute;
  top: 412px;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .content__image {
    object-fit: contain;
    top: 480px;
    min-height: 735px;
    z-index: 0;
  }
}

@media screen and (max-width: 375px) {
  .content__image {
    top: 480px;
    min-height: 813px;
  }
}
