.header {
  display: flex;
  max-width: calc(100% - 698px);
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1800px) {
  .header {
    max-width: calc(100% - 144px);
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: calc(100% - 39px);
  }
}
