.running-line {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -58px;
  left: 0;
  background: #F54932;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .running-line {
    bottom: 0;
    height: 38px;
  }
}
